<div class-name="werker-shift-expanded">
  <div class-name="shift-name">{{shift.name}}</div>
  <div class-name="shift-address">{{shift.address}}</div>
  <div class-name="shift-time_date">{{shift.time_date}}</div>
  <div class-name="shift-description"><p>{{shift.description}}</p></div>
  <div class-name="invite-position">Looking for: Bartender</div>
  <p></p>
  <ion-button (click)="acceptOrDecline('accept')" class-name="button-accept">ACCEPT</ion-button>
  <ion-button (click)="acceptOrDecline('decline')" class-name="button-decline">DECLINE</ion-button>
  <p></p>
  <div class-name="shift_maker-name">Posted by: Shift M. Aker</div>
  <p></p>    
</div>
