<p>
  <div>werker-shift-expanded works!
      <h3>Jobs for You</h3>
      <div class-name="werker-shift-expanded">
        <div class-name="shift-name">Shift Name</div>
        <div class-name="shift-address">123 Street, City, ST 70111</div>
        <div class-name="shift-time_date">08/21/19 7:00P - 12:30A</div>
        <div class-name="shift-description"><p>Description: Catering private party for company anniversary. - Black dress clothes.</p></div>
        <div class-name="invite-position">Looking for: Bartender</div>
        <p></p>
        <button class-name="button-accept">ACCEPT</button>
        <button class-name="button-decline">DECLINE</button>
        <p></p>
        <div class-name="shift_maker-name">Posted by: Shift M. Aker</div>
        <p></p>
        ------------------------------
          <li><a href>Job2 Date/Time |
            Server | Address</a></li>
          <li><a href>Job3 Date/Time |
            Expeditor | Address</a></li>      
    </div>
</p>
