<h3>History</h3>

<ion-list>
  <!-- <mat-accordian> -->
    <ion-item *ngFor="let pastShift of pastShifts" color="light" padding="2px">
    <!-- </mat-accordian> -->
    <mat-expansion-panel>
      
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ion-icon name="calendar" color="dark"></ion-icon>
          <ion-label><b>{{ pastShift.name }}</b></ion-label>
          <div>{{pastShift.start | date:'MMM dd, yyyy h:mm a'}}</div>
        </mat-panel-title>
        
      </mat-expansion-panel-header>
      <div><b>Shift History Details:</b></div>
      <div>{{pastShift.address}}</div>
       <div>{{pastShift.description}}</div>
       <div>{{pastShift.position}}</div>
      <ion-button (click)="rateShift(pastShift)" size="default" expand="block" color="primary">RATE THIS SHIFT</ion-button>
    </mat-expansion-panel>


