<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>shiftMaker</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <app-maker-home [unfulfilled]="unfulfilled" [fulfilled]="upcomingFulfilled" *ngIf="view === 'home'"></app-maker-home>
  <app-maker-unfilled-shifts [shifts]="unfulfilled" *ngIf="view === 'unfilled'"></app-maker-unfilled-shifts>
  <app-maker-notifications [applications]="applications" *ngIf="view === 'notifications'"></app-maker-notifications>
  <app-maker-profile [maker]="maker" *ngIf="view === 'profile'"></app-maker-profile>
  <app-maker-history-shifts [shifts]="history" *ngIf="view === 'history'"></app-maker-history-shifts>
  <app-maker-schedule *ngIf="view === 'schedule'"></app-maker-schedule>
  <app-maker-search *ngIf="view === 'search'"></app-maker-search>
  <app-maker-create-shift [maker]="maker" *ngIf="view === 'createShift'"></app-maker-create-shift>
</ion-content>
<ion-footer>
  <app-maker-navbar (NavClick)="onNavClick($event)"></app-maker-navbar>
</ion-footer>

