<ion-header>
  <ion-toolbar>
    <ion-title>Welcome Home Maker!</ion-title>
    <app-maker-search-bar slot="end" (SearchClick)="searchList"></app-maker-search-bar>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <app-maker-home [shifts]="shifts" *ngIf="view === 'home'"></app-maker-home>
  <app-maker-notifications *ngIf="view === 'notifications'"></app-maker-notifications>
  <app-maker-profile *ngIf="view === 'profile'"></app-maker-profile>
  <app-maker-history *ngIf="view === 'history'"></app-maker-history>
  <app-maker-schedule *ngIf="view === 'schedule'"></app-maker-schedule>
  <app-maker-search *ngIf="view === 'search'"></app-maker-search>
</ion-content>
<ion-footer>
  <app-maker-navbar (NavClick)="onNavClick($event)"></app-maker-navbar>
</ion-footer>




<!-- <ion-content padding>
  <h3>Werkers for You</h3>
  <ul>
    <li>
      <ion-card>
        Werker details...
      </ion-card>
    </li>
    <li>
      <ion-card>
        Werker details...
      </ion-card>
    </li>
    <li>
      <ion-card>
        Werker details...
      </ion-card>
    </li>
  </ul>
</ion-content> -->
