<p>shift-details works!</p>
<div>
  <h3>Shift Details</h3>
  <div class-name="shift-expanded">
    <div class-name="shift-name">Shift Name</div>
    <div class-name="shift-address">123 Street, City, ST 70111</div>
    <div class-name="shift-time_date">08/21/19 7:00P - 12:30A</div>
    <div class-name="shift-description"><p>Description: Catering private party for company anniversary. - Black dress clothes.</p></div>

    <div class-name="filled-positions">
    <h3>Shift Werkers</h3>
      <ul>
        <li><a href><h4>David L. | Magician</h4>
          Rating | ACCEPTED</a>
        </li><p></p>
          
        <li><a href><h4>Shannon C. | Bartender</h4>
          Rating | ACCEPTED</a>
        </li><p></p>
        <li><a href><h4>Terry M. | Server</h4></p>
          Rating | ACCEPTED</a>
        </li>
      </ul>

    </div>
    
    <p></p>
    <!-- <button ion-button class-name="button-accept">ACCEPT</button>
    <button ion-button class-name="button-decline">DECLINE</button> -->
    <p></p>
    <!-- <div class-name="shift_maker-name">Posted by: Shift M. Aker</div> -->
    <p></p>    
</div>
