<div class-name="werker-shift-expanded" class="item item-text-wrap">


  <mat-expansion-panel class="item item-text-wrap">

    <mat-expansion-panel-header class = "item item-text-wrap">
      <mat-panel-title color="light">
        <ion-icon name="alert" color="secondary"></ion-icon>
        <ion-label text-wrap><b>{{upcomingShift.name}}</b>
          <div class-name="shift-start"> {{upcomingShift.start | date:'MMM dd, yyyy h:mm a'}}</div>
        </ion-label>
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <!-- <ion-card-title class-name="shift-name">{{upcomingShift.name}}</ion-card-title> -->
    <!-- <div class-name="shift-name">{{upcomingShift.name}}</div> -->
    <div class-name="shift-address">{{upcomingShift.address}}</div>
    <!-- <div class-name="shift-start">{{upcomingShift.start}}</div> -->
    <div class-name="shift-description" class="item item-text-wrap">
      <p class = "item item-text-wrap" >{{upcomingShift.description}}</p>
    </div>
    <div class-name="invite-position">Position: Bartender</div>
    <!-- <p></p>
    <ion-button (click)="accept('accepted')" class-name="button-accept">ACCEPT</ion-button>
    <ion-button (click)="decline('declined')" class-name="button-decline">DECLINE</ion-button>
    <p></p> -->
    <div class-name="shift_maker-name">Posted by: Shift M. Aker</div>
    <p></p>
  </mat-expansion-panel>
</div>