<div class-name="app-maker-history">
<ion-infinite-scroll threshold="100px" >
  <h3>History</h3>
  <ion-infinite-scroll-content>
      <!-- <ion-list> -->
        <!-- <ion-label><b>SHIFTS HISTORY</b></ion-label> -->
        <!-- <ion-item *ngFor="let shift of shifts"> -->
          <app-maker-history-shifts [shifts]="shifts"></app-maker-history-shifts>
        <!-- </ion-item> -->
      <!-- </ion-list> -->
      <!-- <ion-button (click)="rate('rate')" class-name="button-rate">RATE WERKERS</ion-button> -->
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
  

