<ion-content>
  <ion-infinite-scroll>

    <ion-infinite-scroll-content>
      <ion-label><b>SHIFTS UNFILLED</b></ion-label>
      <app-maker-unfilled-shifts [shifts]="shifts"></app-maker-unfilled-shifts>

      <ion-label><b>SHIFTS PENDING</b></ion-label>
      <app-maker-pending-shifts [shifts]="shifts"></app-maker-pending-shifts>
    </ion-infinite-scroll-content>  


    <!-- <ion-infinite-scroll-content>
      <div class-name=makerShifts-History>
        <ion-list><ion-label><b>SHIFTS HISTORY</b></ion-label>
          <ion-card><a href><h5>St. Joseph's Alter - Catering</h5><p></p>
              4/6 filled | 03/19 10:00A - 2:00P</a>
          </ion-card>
        </ion-list>
      </div>
    </ion-infinite-scroll-content> -->

  </ion-infinite-scroll>
</ion-content>
  
