<ion-content>
  <ion-infinite-scroll>

    <ion-infinite-scroll-content>
      <!-- <ion-label>SHIFTS UNFILLED</ion-label> -->
      <h3 align="left">Shifts Unfilled</h3>
      <app-maker-unfilled-shifts [shifts]="unfulfilled"></app-maker-unfilled-shifts>

      <!-- <ion-label><b>SHIFTS PENDING</b></ion-label> -->
      <h3 align="left">Shifts Pending</h3>
      <app-maker-pending-shifts [shifts]="fulfilled"></app-maker-pending-shifts>
    </ion-infinite-scroll-content>  

  </ion-infinite-scroll>
</ion-content>
  
