// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  --ion-padding: .5rem 0 .5rem .25rem;

  --ion-background-color: #faf8ea;

  --ion-card: #e2ffa8;

  /** primary **/
  --ion-color-primary: #5D2E8C;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: rgb(127, 107, 148);
  --ion-color-primary-tint: rgb(210, 61, 230);

  /** secondary **/
  --ion-color-secondary: #2ec4b6;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #225550;
  --ion-color-secondary-tint: #58e9e9;

  /** tertiary **/
  --ion-color-tertiary: #e2ffa8;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #4e4747;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #486809;
  --ion-color-tertiary-tint: #a6bb7b;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #f58585;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #1e2023;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #642626;
  --ion-color-warning-tint: #f39e9e;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #e2ffa8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  // --ion-font-family: 'Raleway';
};
ion-card {
  --color: #e2ffa8;
  box-shadow: none !important;
  padding: .5rem 0;
  border-radius: 0 !important;
  border: 1px solid #d2ee9a;
}

// @font-face {
//   font-family: 'Raleway';
//   font-style: normal;
//   font-weight: normal;
//   src: '../assets/fonts/Raleway.ttf';
// }
