<ion-toolbar className="navbar" color="secondary">
  <ion-button (click)="onClick('home')"><ion-icon name="home"></ion-icon></ion-button>
  <ion-button (click)="onClick('profile')"><ion-icon name="contact"></ion-icon></ion-button>
  <ion-button (click)="onClick('history')"><ion-icon name="filing"></ion-icon></ion-button>
  <ion-button (click)="onClick('notifications')"><ion-icon name="chatbubbles"></ion-icon></ion-button>
  <ion-button (click)="onClick('createShift')"><ion-icon name="add-circle"></ion-icon></ion-button>
  <!-- <ion-button (click)="onClick('search')"><ion-icon name="search"></ion-icon></ion-button> -->
</ion-toolbar>
