<p>maker-history-shifts works!</p>
<ion-content makerShifts-history>
  <ion-title><h3>Shifts History</h3></ion-title>
  <ul>
    <!-- v-- hrefs below - CHANGE to ionic or ang routerLink --v -->
    <li><ion-card><a href><h4>Anniversary Brunch</h4><p></p>
      6/6 filled | 02/21/10:0A - 12:00P</a>
    </ion-card></li>
      <p></p>
    <li><ion-card><a href><h4>Mayoral Fundraising Party</h4><p></p>
      5/5 filled | 02/29 10:00P - 2:00A</a>
    </ion-card></li>
  </ul>
  <!-- This href goes to RATE WERKERS -->
  <button><ion-button href="/maker-home">RATE WERKERS</ion-button></button>
</ion-content>