<h3>Profile</h3>
  <ion-card enter-maker>
    <ion-card>
      <ion-label>Name:</ion-label>
      <ion-input placeholder="Enter first name"></ion-input>
      <ion-input placeholder="and last name"></ion-input>
    </ion-card>
    <p></p>

    <ion-card>
      <ion-label>Email:</ion-label>
      <ion-input placeholder="Enter email"></ion-input>
    </ion-card>
    <p></p>

    <ion-card>
      <ion-label>Phone:</ion-label>
      <ion-input placeholder="Enter phone"></ion-input>
    </ion-card>
    <p></p>

    <ion-card>
        <ion-label>Bio:</ion-label>
        <ion-textarea placeholder="Enter short bio.  Include brief work experience and tell us a little about yourself."></ion-textarea> 
      </ion-card>  

      <ion-input placeholder="">
        <div>[ XXXXX <div></div> PHOTO <div></div>XXXXX <div></div> IMAGE <div></div> XXXXX ] <div></div><ion-button>ADD/CHANGE PHOTO</ion-button></div>
      </ion-input>
  </ion-card>
  
  <ion-button>SAVE/EDIT MAKER PROFILE</ion-button>
  

