<ion-header>
  <ion-toolbar>
    <ion-title>werker-home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3>Jobs for You</h3>
  <div class-name=werkerJobs>
    <ul>
      <li>
        <ion-card>
          <a href>Job1 Date/Time | Position | Address</a>
        </ion-card>
      </li>
      <li><a href>Job2 Date/Time |
          Position | Address</a></li>
      <li><a href>Job3 Date/Time |
          Position | Address</a></li>
    </ul>
  </div>
</ion-content>
<ion-footer>
  
</ion-footer>
