<h3>Profile</h3>
<ion-card enter-werker color="warning" width="100%">
<form>
  <!-- <ion-item enter-werker> -->
    <ion-card color="light" padding="1px">
        <ion-thumbnail><ion-img padding="1px" src={{url_photo}}></ion-img>
</ion-thumbnail>
      <ion-label>Name:</ion-label>
      <ion-input [(ngModel)]="nameFirst" name="nameFirst" placeholder="Enter First Name"></ion-input>
      <ion-input [(ngModel)]="nameLast" name="nameLast"placeholder="Enter Last Name"></ion-input>
    </ion-card>
    <p></p>

    <ion-card color="light" padding="1px">
      <ion-label>Email:</ion-label>
      <ion-input [(ngModel)]="email" name="email"placeholder="Enter E-mail"></ion-input>
    </ion-card>
    <p></p>

    <ion-card color="light" padding="1px">
      <ion-label>Phone:</ion-label>
      <ion-input [(ngModel)]="phoneNumber" name="phoneNumber"placeholder="Enter Phone Number"></ion-input>
      <!-- remove button on user's OWN profile -->
      <!-- <a button icon-start ion-button full (click)="callNum()">
        <ion-icon name="call"></ion-icon>
        <i class="icon ion-ios-telephone"></i>
      </a> -->
    </ion-card>
    <ion-card color="light" padding="1px">
      <ion-label>Photo</ion-label>
      <!-- <ion-input [(ngModel)]="phoneNumber" name="phoneNumber"placeholder="Enter Phone Number"></ion-input> -->
            <a button icon-start ion-button full (click)="openCamera()">
              <ion-icon name="camera"></ion-icon>
              <!-- <i class="icon ion-ios-telephone"></i> -->
            </a>
            <a button icon-start ion-button full (click)="openGallery()">
              <ion-icon name="images"></ion-icon>
              <!-- <i class="icon ion-ios-telephone"></i> -->
            </a>
        </ion-card>

    <p></p>

    <ion-card enter-home color="light" padding="5px">
      <ion-label>Home:</ion-label>
      <ion-textarea [(ngModel)]="address" name="address" placeholder="Give us an address to base your shift recommendations around"></ion-textarea>
    </ion-card>

  <ion-card enter-bio color="light" padding="5px">
    <ion-label>Bio:</ion-label>
  <ion-textarea [(ngModel)]="bio" name="bio"placeholder="Tell us about yourself and your work experience"></ion-textarea>
  </ion-card>

  <ion-card color="light">
  <!-- <ion-item enter-positions> -->
    <ion-list color="light">
      <ion-item color="light">
        <!-- !!! if we don't want buttons, we can use the ion-label line instead, or just delete those lines!!! -->
        Select position(s):
      </ion-item>
        <ion-item color="light">
        <ion-button>Server</ion-button>
        <ion-toggle (click)="werkerPosition('Server')" slot="end" checked="true"></ion-toggle>
      </ion-item>
      <ion-item color="light">
        <ion-button>Expeditor</ion-button>
        <ion-toggle (click)="werkerPosition('Expeditor')"slot="end"></ion-toggle>
      </ion-item>
      <ion-item color="light">
        <ion-button>Busser</ion-button>
        <ion-toggle (click)="werkerPosition('Busser')"slot="end"></ion-toggle>
      </ion-item>
      <ion-item color="light">
        <ion-button>Hosting</ion-button>
        <ion-toggle (click)="werkerPosition('Hostess')" slot="end"></ion-toggle>
      </ion-item>
      <ion-item color="light">
        <ion-button>Bartender</ion-button>
        <ion-toggle (click)="werkerPosition('Bartender')" checked="true" slot="end"></ion-toggle>
      </ion-item>
    </ion-list>
  <!-- </ion-item> -->
</ion-card>
  <p></p>
  <ion-card last-minute color="light" padding="1px">
    <!-- Rounded switch -->
    <label class="switch">
      <!-- <input type="checkbox"> -->
      <ion-item class="slider round">
        <ion-button><b>Available Last-Minute: </b></ion-button>
        <ion-toggle (click)="lastMinAvail()" slot="end" checked="true"></ion-toggle>
        <!-- <ion-toggle [(ngModel)]="Available Last-Minute"></ion-toggle> -->
      </ion-item>
    </label>
  </ion-card>
  
  

  <!-- <ion-item enter-photo>
      <div>[ PHOTO IMAGE ] <ion-button>ADD/CHANGE PHOTO</ion-button></div>
  </ion-item>
  <ion-item enter-certification>
      <div>[ CERTIFICATION IMAGE ] <ion-button>ADD/UPDATE Certification</ion-button></div>
  </ion-item> -->


  <ion-button width="90%" expand="block" color="primary" (click)="saveSettings()">SAVE/UPDATE PROFILE</ion-button>

</form>
</ion-card>
