<h3>Your Profile</h3>
<ion-content>
<form>
  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Item 1</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Item 2</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Item 3</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Item 4</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Item 5</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- <ion-item enter-werker> -->
    <ion-item>
      <ion-label>First Name:</ion-label>
      <ion-input [(ngModel)]="nameFirst" name="nameFirst" placeholder="First name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Last Name:</ion-label>
      <ion-input [(ngModel)]="nameLast" name="nameLast"placeholder="Last name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input [(ngModel)]="email" name="email"placeholder="Enter email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Phone:</ion-label>
      <!-- <ion-icon\\\ (click)="callNum()" name="call"></ion-icon> -->
      <ion-input [(ngModel)]="phoneNumber" name="phoneNumber"placeholder="Enter phone"></ion-input>
        <a button icon-start ion-button full (click)="callNum()">
          <ion-icon name="call"></ion-icon>
          <i class="icon ion-ios-telephone"></i>
        </a>
    </ion-item>
    <!-- <Button>SAVE/EDIT</Button> -->
   <!-- </ion-item> -->
  <!-- {{nameFirst}}
  {{nameLast}}
  {{email}}
  {{phoneNumber}}
  {{bio}} -->
  <p></p>
  <ion-item enter-bio>
    <ion-label>Bio:</ion-label>
  <ion-textarea [(ngModel)]="bio" name="bio"placeholder="Enter more information here..."></ion-textarea>
    <!-- <ion-textarea placeholder="Enter short bio. Include brief work experience and tell us a little about yourself."></ion-textarea>  -->
      <!-- <textarea rows="4" placeholder="Enter short bio"></textarea> -->
  </ion-item>

  <ion-item enter-positions>
    <ion-list>
      <ion-item>
        <!-- !!! if we don't want buttons, we can use the ion-label line instead, or just delete those lines!!! -->
        Select position(s):
      </ion-item>
      <ion-item>
        <ion-button>Server</ion-button>
        <ion-toggle (click)="werkerPosition('Server')" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-button>Expeditor</ion-button>
        <ion-toggle (click)="werkerPosition('Expeditor')"slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-button>Busser</ion-button>
        <ion-toggle (click)="werkerPosition('Busser')"slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-button>Hostess</ion-button>
        <ion-toggle (click)="werkerPosition('Hostess')" slot="end"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-button>Bartender</ion-button>
        <ion-toggle (click)="werkerPosition('Bartender')" slot="end"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-item>

  <p></p>
  <ion-item last-minute>
    <!-- Rounded switch -->
    <label class="switch">
      <!-- <input type="checkbox"> -->
      <span class="slider round">
        <ion-label>Available Last-Minute</ion-label>
        <ion-toggle (click)="lastMinAvail()" slot="end"></ion-toggle>
        <!-- <ion-toggle [(ngModel)]="Available Last-Minute"></ion-toggle> -->
      </span>
    </label>
  </ion-item>
  
  

  <!-- <ion-item enter-photo>
      <div>[ PHOTO IMAGE ] <ion-button>ADD/CHANGE PHOTO</ion-button></div>
  </ion-item>
  <ion-item enter-certification>
      <div>[ CERTIFICATION IMAGE ] <ion-button>ADD/UPDATE Certification</ion-button></div>
  </ion-item> -->


  <ion-button (click)="saveSettings()">SAVE CHANGES</ion-button>
  
  <div class-name=werkerFavs>
    <ul>
      <!-- v-- hrefs below - CHANGE to ionic or ang routerLink --v -->
      <!-- <li><a href>Fav1 Maker1</a></li>
      <li><a href>Fav2 Maker2</a></li>
      <li><a href>Fav3 Maker3</a></li> -->
    </ul>
  </div>

</form>
</ion-content>
