<ion-toolbar className="navbar">
  <ion-button (click)="onClick('home')"><ion-icon name="home"></ion-icon></ion-button>
  <ion-button (click)="onClick('notifications')"><ion-icon name="chatbubbles"></ion-icon></ion-button>
  <ion-button (click)="onClick('profile')"><ion-icon name="contact"></ion-icon></ion-button>
  <ion-button (click)="onClick('history')"><ion-icon name="filing"></ion-icon></ion-button>
  <ion-button (click)="onClick('schedule')"><ion-icon name="calendar"></ion-icon></ion-button>
</ion-toolbar>
