<ion-card color="light" class-name="app-maker-unfilled-shift-condensed">
  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title color="warning" >
              <ion-icon name="alert" color="danger"></ion-icon>
              <ion-label><b>{{shift.name}}<br>@ {{shift.start | date:'MMM dd, yyyy h:mm a'}}</b>
              <div class-name="shift-time_date"> Positions Filled: {{count}} out of {{shift.positions.length}}</div>
              </ion-label>
      </mat-panel-title>
    </mat-expansion-panel-header>

    
    <ion-item color="light" >
      <div><b>Address:</b> <br> {{shift.address.street}}<br>{{shift.address.rest}} </div> 
    </ion-item>


    <ion-item color="light" >
      <ion-label text-wrap><b>Position(s):</b></ion-label>
    </ion-item>

      <ion-card color="light"
            *ngFor="let position of shift.positions let i=index" color="light" lines="none" >
              <ion-item slot="start" color="light" lines="none" expand="block">{{position.position}}<ion-item slot="end" color="light" lines="none">
                {{count}} out of 1</ion-item></ion-item>
                <app-invite [i]="i" [shift]="shift" slot="end" color="light"></app-invite>
      </ion-card>
    
  </mat-expansion-panel>
</ion-card>
