<!-- <p>maker-unfilled-shift-condensed</p> -->
<!-- !!! NEEDS TO DISPLAY POSITIONS FILLED/UNFILLED !!! -->

<div class-name="app-maker-unfilled-shift-condensed">
  <p></p>
  <ion-card>
    <ion-card-title>4/6 FILLED</ion-card-title>
    <div><em><b>2 neded</b></em></div>
    <div class-name="shift-name"><b>{{shift.name}}</b></div>
    <div class-name="shift-address">{{shift.address}}</div>
    <div class-name="shift-time_date">{{shift.time_date}}</div>
    <!-- <div class-name="shift-description"><p>{{shift.description}}</p></div> -->
    <!-- <div class-name="invite-position"></div> -->
  </ion-card> 
  <p></p>
</div>
