<div class-name="app-maker-unfilled-shift-condensed">
  
  <ion-card maker-notification color="warning">

  <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title color="warning" >
                <ion-icon name="alert" color="danger"></ion-icon>
                <ion-label><b>{{shift.name}} </b>
                <div class-name="shift-time_date"> {{shift.time_date | date:'MMM dd, yyyy h:mm a'}}</div>
                </ion-label>
        </mat-panel-title>
      </mat-expansion-panel-header >

      
      <ion-item text-wrap color="light">
        <ion-label text-wrap><b>Address:</b> {{shift.address}} </ion-label> 
      </ion-item>


      <ion-item text-wrap color="light">
        <ion-label text-wrap><b>Position(s):</b></ion-label>Filled / Total
      </ion-item>

        <!-- <ion-list color="light"> -->
        <ion-card color="light">
          <ul>
            
            <li>unfilled {{unfilled}}</li>
            <!-- <li>{{shift.positions[1].position}}</li> -->
          </ul>
        </ion-card>
        <!-- </ion-list> -->

      <ion-item color="light">
          <em><b>   NEED 2 Werkers !</b>   Filled:</em> <h3>2</h3> <em>of</em> <h3>{{shift.positions.length}} </h3>
      </ion-item>

    
  </mat-expansion-panel>
  </ion-card>
</div>
