<p>maker-create-shift works!</p>
<h3>Create a Shift</h3>
<form maker-create-shift>
  <ion-item enter-shift-name>
    <ion-label>Event:</ion-label>
    <ion-input placeholder="Enter event name"></ion-input>
        <input placeholder="Enter event name"/>
    <p></p>

    <ion-item enter-shift-date-time>
      <ion-label>Date/Time</ion-label>
      <ion-datetime display-format="MMM DD, YYYY HH:mm"></ion-datetime>
      <ion-input placeholder="Enter date/time/duration"></ion-input>
      <!-- <input placeholder="Enter date/time/duration"></input> -->
      <input type="date" id="shift-date" name="shift-date"
      min="2019-01-01" max="2099-12-31">
      <input type="time" id="shift-time" name="shift-time">
    </ion-item>
    <p></p>
    <ion-label>Duration:</ion-label>
    <ion-input placeholder="Duration"></ion-input>
      <input placeholder="Duration"/>
  </ion-item>

  <p></p>
  <ion-select shift-description>
    <ion-label>Description:</ion-label>
    <p></p>
    <ion-textarea placeholder="Enter description: Formal party at private residence. White dress shirt required."></ion-textarea> 
      <textarea rows="5" placeholder="Enter event description  "></textarea>
  </ion-select>
    <p></p>
    <select name="Positions">
      <option value="server">Server</option>
      <option value="bartender">Bartender</option>
      <option value="dishwasher">Dishwasher</option>
      <option value="magician">Magician</option>
    </select>
    <select name="Needed">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <select name="Filled">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>

    <ion-button>CREATE SHIFT</ion-button>
    <!-- invite workers -->
    ---------------------------------
    <div class-name=makerFavs>
      <ul>
        <!--v hrefs below - CHANGE to ionic or ang routerLink v-->
        <li><a href>Fav1 Werker1</a></li>
        <li><a href>Fav2 Werker2</a></li>
        <li><a href>Fav3 Werker3</a></li>
      </ul>
  </div>

