<div class-name="werker-shift-expanded">


  <mat-expansion-panel multi="false">
      <mat-expansion-panel-header>
        <mat-panel-title color="warning">
          <ion-icon name="alert" color="danger"></ion-icon>
          <ion-label><b>{{shift.name}}</b>
            <div class-name="shift-time_date"> {{shift.time_date | date:'MMM dd, yyyy h:mm a'}}</div>
          </ion-label>
        </mat-panel-title>
      </mat-expansion-panel-header>
  </mat-expansion-panel>

  
    <ion-card-title class-name="shift-name">{{invitedShift.name}}</ion-card-title>
    <!-- <div class-name="shift-name">{{invitedShift.name}}</div> -->
    <div class-name="shift-address">{{invitedShift.address}}</div>
    <div class-name="shift-time_date">{{invitedShift.time_date}}</div>
    <div class-name="shift-description">
      <p>{{invitedShift.description}}</p>
    </div>
    <div class-name="invite-position">Looking for: Bartender</div>
    <p></p>
    <ion-button (click)="accept('accepted')" class-name="button-accept">ACCEPT</ion-button>
    <ion-button (click)="decline('declined')" class-name="button-decline">DECLINE</ion-button>
    <p></p>
    <div class-name="shift_maker-name">Posted by: Shift M. Aker</div>
  <p></p>
</div>