<div class-name="werker-shift-expanded">


  <mat-expansion-panel multi="false">
    
      <mat-expansion-panel-header>
        <mat-panel-title color="warning">
          <ion-icon name="alert" color="danger"></ion-icon>
          <ion-label><b>{{invitedShift.name}}</b>
            <div class-name="shift-start"> {{invitedShift.start | date:'MMM dd, yyyy h:mm a'}}</div>
          </ion-label>
        </mat-panel-title>
      </mat-expansion-panel-header>
      
      <!-- <ion-card color="light"> -->
        <!-- <ion-card-title class-name="shift-name">{{invitedShift.name}}</ion-card-title> -->
        <!-- <div class-name="shift-name">{{invitedShift.name}}</div> -->
        <div class-name="shift-address">{{invitedShift.address}}</div>
        <!-- <div class-name="shift-start">{{invitedShift.start}}</div> -->
        <div class-name="shift-description">
          <p>{{invitedShift.description}}</p>
        </div>
        <div class-name="invite-position">Looking for: Bartender</div>
        <p></p>
        <ion-button (click)="onRespond('accept')" class-name="button-accept">ACCEPT</ion-button>
        <ion-button (click)="onRespond('decline')" class-name="button-decline">DECLINE</ion-button>
        <p></p>
        <div class-name="shift_maker-name">Posted by: Shift M. Aker</div>
        <p></p>
      <!-- </ion-card> -->
  </mat-expansion-panel> 
</div>