<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome to shiftWerk!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    As a new user, you will need to login with your Google account.<br/>
    We need access to your email address, display name, and photo.<br/>
    We also need access to your location to optimize the shifts<br/>
    or werkers we show you, so that you can get your money on time!
  </p>
    <ion-button href="/werker-home">I am a werker</ion-button>
    <ion-button href="/maker-home">I am a maker</ion-button>
  <ion-button (click)="login('werker')">Werker google login</ion-button>
  <ion-button (click)="login('maker')">Maker google login</ion-button>
  <ion-button (click)="logout()">LOGOUT</ion-button>
  <!-- <ion-button (click)="authorize()">I am a maker</ion-button> -->
</ion-content>
