<h3>Notifications</h3>
  <!-- <ion-card enter-maker> -->
    <ion-card width="100%" padding="5px">
      <ion-card-title><h2>New Werker application!</h2></ion-card-title>
      <div><h3><b><em>Shift:</em> Pavoratti Tribute</b></h3></div>
      <div><h4><em>Werker:</em><b>Iam Greight</b></h4></div>
      <div><h4><em>Position:</em><b>Operatic Mime</b></h4></div>
    <ion-button (click)="onClick('home')" expand="block" color="secondary">Accept</ion-button>  
    <ion-button (click)="onClick('home')" expand="block" color="tertiary">Decline</ion-button>  
  </ion-card>
  <p></p>

