<div class-name="app-maker-unfilled-shift-condensed" class="item item-text-wrap">
  <mat-expansion-panel class="item item-text-wrap">

    <mat-expansion-panel-header class = "item item-text-wrap">
      <mat-panel-title color="tertiary">
        <ion-icon name="alert" color="warning"></ion-icon>
        <ion-label><b>{{shift.name}}</b>
        <div class-name="shift-time_date"> @ {{shift.start | date:'MMM dd, yyyy h:mm a'}}</div>
        </ion-label>
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <ion-item color="light">
      <div><b>Address:</b> {{shift.address}} </div>
    </ion-item>
    <ion-item color="warning">
      <div><b>Position(s):</b></div>Filled / Total
    </ion-item>
      <ion-card color="light" *ngFor="let position of shift.positions let i=index" color="warning" lines="none">
        <ion-item slot="start" color="warning" lines="none" expand="block">{{position.position}}<ion-item slot="end" color="warning" lines="none">
          {{count}} out of 1</ion-item>
        </ion-item>
      </ion-card>
      <div>All Positions Filled: {{count}} out of {{shift.positions.length}}</div>
  </mat-expansion-panel>
</div>

