<div class-name="app-maker-unfilled-shift-condensed">
  <ion-card width="100%" padding="5px" color="light">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title color="warning">
          <ion-icon name="alert" color="warning"></ion-icon>
          <ion-label><b>{{shift.name}}</b> @ {{shift.start | date:'MMM dd, yyyy h:mm a'}}
          <div class-name="shift-time_date"> Positions Filled: {{count}} out of {{shift.positions.length}}</div>
          </ion-label>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ion-item text-wrap color="warning">
        <ion-label text-wrap><b>Address:</b> {{shift.address}} </ion-label>
      </ion-item>
      <ion-item text-wrap color="warning">
        <ion-label text-wrap><b>Position(s):</b></ion-label>Filled / Total
      </ion-item>
        <ion-card color="light" *ngFor="let position of shift.positions let i=index" color="warning" lines="none">
          <ion-item slot="start" color="warning" lines="none" expand="block">{{position.position}}<ion-item slot="end" color="warning" lines="none">
            {{count}} out of 1</ion-item>
          </ion-item>
        </ion-card>
      <ion-item color="warning">

      </ion-item>
    </mat-expansion-panel>
  </ion-card>
</div>

