<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>shiftWerker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-werker-home 
  [shifts]="shifts" 
  [upcomingShifts]="upcomingShifts"
  [invitedShifts]="invitedShifts" 
  *ngIf="view == 'home'"></app-werker-home>
  <app-werker-notifications [shifts]="shifts" *ngIf="view == 'notifications'"></app-werker-notifications>
  <app-werker-profile [werker]="werker" *ngIf="view == 'profile'"></app-werker-profile>
  <app-werker-history [pastShifts]="pastShifts" *ngIf="view == 'history'"></app-werker-history>
  <app-werker-schedule *ngIf="view == 'schedule'"></app-werker-schedule>
  <app-werker-search *ngIf="view == 'search'"></app-werker-search>
</ion-content>
<ion-footer>
  <app-werker-navbar (NavClick)="onNavClick($event)"></app-werker-navbar>
</ion-footer>

