<ion-header>
  <ion-toolbar>
    <ion-title>werker-home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-werker-home [shifts]="shifts" *ngIf="view == 'home'"></app-werker-home>
  <app-werker-notifications *ngIf="view == 'notifications'"></app-werker-notifications>
  <!-- <app-werker-profile *ngIf="view == 'profile'"></app-werker-profile> -->
  <app-werker-history *ngIf="view == 'history'"></app-werker-history>
  <app-werker-schedule *ngIf="view == 'schedule'"></app-werker-schedule>
</ion-content>
<ion-footer>
  <app-werker-navbar (NavClick)="onNavClick($event)"></app-werker-navbar>
</ion-footer>
