<div class-name="app-maker-history-shift-condensed">
  <ion-card class-name="history" color="tertiary">

  <mat-expansion-panel>

    <mat-expansion-panel-header>
        <mat-panel-title color="tertiary" >
          <ion-icon name="alert" color="danger"></ion-icon>
          <ion-label><b>{{shift.name}}</b>
          <div class-name="shift-time_date"> Position Count: {{shift.positions.length}}</div>
          </ion-label>
          <ion-label><b>@ {{shift.start | date:'MMM dd, yyyy h:mm a'}}</b>
          </ion-label>
        </mat-panel-title>
      </mat-expansion-panel-header>

    <ion-item text-wrap color="light">
    <div class-name="shift-address">{{shift.address}}</div>
    </ion-item>

    <div class-name="shift-time_date">{{shift.time_date}}</div>
    <!-- <ion-button (click)="onClick('home')" expand="block" color="secondary">Rate Werkers</ion-button>   -->
    <ion-button width="100%" color="secondary" (click)="rate('Werkers')" class-name="button-rate">RATE WERKERS</ion-button>
    
  </mat-expansion-panel>
</ion-card> 
</div>
