<div class-name="app-maker-history-shift-condensed">
  <p></p>
  <ion-card class-name="history" width="100%" color="warning" padding="2px">
    <div class-name="shift-name"><b>{{shift.name}}</b></div>
    <div class-name="shift-address">{{shift.address}}</div>
    <div class-name="shift-time_date">{{shift.time_date}}</div>
    <!-- <ion-button (click)="onClick('home')" expand="block" color="secondary">Rate Werkers</ion-button>   -->
    <ion-button width="100%" color="secondary" (click)="rate('Werkers')" class-name="button-rate">RATE WERKERS</ion-button>
  </ion-card> 
  <p></p>
</div>
